* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, crimson, royalblue);
	-webkit-background-image: linear-gradient(to right, crimson, royalblue);
	display: inline-block;
	padding: 1rem;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.header .project-title {
	text-transform: uppercase;
}

.main {
	text-align: center;
	margin: 2rem auto;
	max-width: 1100px;
}

.refresh-btn {
	border: none;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	background: linear-gradient(to right, royalblue, crimson);
	color: #fff;
	text-shadow: 2px 2px 10px #fff;
	box-shadow: 2px 2px 10px gray;
	cursor: pointer;
}

.refresh-btn:hover {
	background: linear-gradient(to right, crimson, royalblue);
}

.refresh-btn:active {
	transform: scale(0.97);
}
